body {
    background: #f44336;
  }

  #menu-vertical {
    position: fixed;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0,0,0,0.8);
    overflow-x: hidden;
    transition: 0.4s;
    padding: 1rem 0;
}

#menu-vertical .boton-cerrar {
    position: absolute;
    top:    1rem;
    right: 1rem;
    font-size: 4rem;
    display: block;
    padding: 0;
    line-height: 1.5rem;
    margin: 0;
    height: 10%;
    width: 10%;
    text-align: center;

}


#menu-vertical  ul, #menu-vertical  li{
    margin:0;
    padding:0;
    list-style:none inside;
}

#menu-vertical  ul {
    margin: 4rem auto;
    display: block;
    width: 80%;
    min-width:200px;
}

#menu-vertical a {
    display: block;
    font-size: 120%;
    color: white;
    text-decoration: none;
    padding-top: 2em;
    
}

#menu-vertical #linea:hover{
    color:white;
    border-bottom: 0.2em solid white;
}

.container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}