body{
    width: 850px;
}
div{
    width: 200px;
    height: 200px;
    background-color: green;
    animation-name: caja;
    animation-timing-function: linear;
    animation-duration: 6s;
    animation-iteration-count: infinite;

}

@keyframes caja {
    0%{background-color: green; margin-top: 0px; margin-left: 400px;}
    14%{background-color: cyan; margin-left: 400px; margin-top: 800px;}
    28%{background-color: blue; margin-left: 0px; margin-top: 800px;}
    42%{background-color: violet;margin-left: 0px; margin-top: 400px;}
    56%{background-color: red; margin-left: 400px; margin-top: 400px;}
    70%{background-color: orange;margin-top: 400px; margin-left: 800px;}
    84%{background-color: yellow;margin-top: 0px; margin-left: 800px;}
    100%{background-color: green; margin-top: 0px; margin-left: 400px;}
}