$blanco:#fff;
$gris-oscuro:#333;
$morado:rgb(155,111,145);
$color-error: #ff0000;
$color-warning: rgb(239, 241, 120);
$color-accepted: rgb(55, 138, 0);
$color-normal: rgb(0, 110, 255);
$color-shadow: #888;
$color-col-pares: #cccccc;
$color-col-impares: #888888;