*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 95vh;
    background-color: darkgreen;
}

.contenedor{
    background-color: lightgray;
    column-count: 3;
    column-rule: 1px dotted red;
    padding: 1em;
    margin: 1em;
    border-radius: 10px;
    height: 40vh;
}