$colores:(rojo:#ff0000,amarillo-claro:rgb(239,241,129),verde:rgb(55,138,0),azul:rgb(0,110,255));
$botones:(error:1,warning:2,accepted:3,normal:4);
$naranja: orange;
$border-radio:.4rem;

.btn{
        padding: 10px;
        border-radius: $border-radio;
        display: inline-block;
        cursor: pointer;
        &:hover{
            box-shadow: math.div($border-radio)#888;
        }

        &:active{
            background-color: $naranja;
            color: white;
        }
}

@each $v,$i in $botones {
    .btn-#{v}{
        background-color: map-get($map: $colores, $key: $i);
    }   
}


$gris-claro:#cccccc;
$gris-oscuro:#888888;

@function column

.row{
    display
}

